<div class="title">
    <h2>Title:</h2>
    <p><%= @book.title %></p>
</div>

<div class="body">
    <h2>Body:</h2>
    <p><%= @book.body %></p>
</div>

<div class="link">
    <%= link_to 'Edit' , edit_book_path(@book.id) %>
    <%= p "|"%>
    <%= link_to 'Back' , '/books' %>
</div>